.prices {
  flex-shrink: 0;
  width: 100%;
  margin-top: 120px;
  padding: 1.5rem 3rem;

  display: flex;
  flex-direction: column;
  gap: 50px;

  font-family: "Catallina", sans-serif;
  text-transform: uppercase;

  scroll-margin-top: 100px;
}

.title {
  font-size: 2rem;
  text-align: center;
}

.category {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &:has(+ &) {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #f2f2f2;
  }

}

.subtitle {
  font-size: clamp(12px, 3vw, 1.5rem);
  font-style: italic;
  text-shadow: 1px 1px 1px #292929;
}

.table {
  width: 100%;
  display: grid;
  grid-template-columns: 50% repeat(3, 1fr);
  grid-auto-flow: row;
  column-gap: 20px;
  row-gap: 20px;
  font-size: clamp(12px, 3vw, 1.5rem);
}

.poryadok {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.description {
  font-family: "Geist Mono", sans-serif;
  font-size: clamp(8px, 3vw, 1rem);
  text-transform: lowercase;
}

.barber {
  font-size: clamp(12px, 3vw, 1.5rem);
  justify-self: center;
  text-align: center;
  align-self: end;
}

.item {
  justify-self: start;
}

.price {
  justify-self: center;
}

@media screen and (max-width: 900px) {
  .prices {
    padding: 30px;
  }
  .table {
    grid-template-columns: 35% repeat(3, 1fr);
  }
}