* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

::-webkit-scrollbar {
  width: 8px;
  
  &-track {
    background-color: #292929;
  }

  &-thumb {
    background-color: grey;
    border-radius: 0.5rem;
  }
}

@font-face {
  font-family: 'Catallina';
  src: url('/fonts/catallina.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #292929;
  color: #f2f2f2;
  font-family: 'Catallina', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

