.header {
  flex-shrink: 0;
  width: 100%;
  position: sticky;
  z-index: 99;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 1rem 3rem;
  background-color: #292929;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 1.5rem;
    right: 1.5rem;
    height: 1px;
    background-color: #f2f2f2;
  }
}

.logo {
  flex-shrink: 0;
  width: 150px;
}

.nav {
  font-family: "Catallina", sans-serif;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 2rem;

  translate: 0 2px;
}

.mobileNav {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  height: 100dvh;
  padding: 1rem 3rem;
  background-color: #292929;
  z-index: 100;

  & > a {
    font-family: "Catallina", sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
  }
}

.button {
  font-family: "Catallina", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #1a4a5a;
  color: #f2f2f2;
  border: none;
  border-radius: 0.5rem;
}

.menu {
  > svg {
    width: 24px;
    height: 24px;
    max-width: none;

  }
  
  > svg > path {
    fill: #f2f2f2;
  }
}

.mobileMenu {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

@media screen and (max-width: 900px) {
  .header {
    padding: 1rem 30px;
  }

  .button {
    margin-left: auto;
  }

  .nav {
    display: none;
  }
}