.philosophy {
  max-width: 1920px;
  margin-top: 100px;
  padding: 1.5rem 3rem;

  display: flex;
  flex-direction: column;
  gap: 50px;

  scroll-margin-top: 100px;
}

.title {
  font-family: "Catallina", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
}

.container {
  color: #1a4a5a;
  padding: 1.5rem 3rem;
  height: 450px;
  display: grid;
  grid-template-areas: "overlap";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.description {
  grid-area: overlap;
  z-index: 2;

  position: relative;
  top: 20px;
  right: 45%;

  max-width: 480px;
  width: 100%;
  height: auto;
  padding: 3rem;
  border-radius: 1rem;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  & > div {
    width: 100%;
    height: 20px;
  }
}

.subtitle {
  font-family: "Catallina", sans-serif;
  text-transform: uppercase;
  font-size: clamp(1rem, 5.5vw, 1.5rem);
  text-align: center;
}

.text {
  letter-spacing: 0.5px;
  line-height: 1.5;
}

.image {
  grid-area: overlap;
  z-index: 1;

  position: relative;
  bottom: 20px;
  left: 45%;

  width: 480px;
  height: 410px;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 1rem;

  filter: saturate(1.1) brightness(0.9);
}

.divider {
  flex-shrink: 0;
  background-color: #1a4a5a;
  color: #1a4a5a;
  height: 30px;
}

@media (max-width: 900px) {
  .philosophy {
    margin-top: 30px;
    gap: 100px;
    padding: 20px;
  }

  .title {
    font-size: 1.5rem;
  }

  .container {
    padding: 0;
    height: auto;
  }

  .description {
    padding: 1.5rem;
    height: auto;
    width: 100%;
    right: 0;
    left: 0;
    top: 100px;
  }

  .image {
    width: 100%;
    left: 0;
    right: 0;
    bottom: 70px;
    height: 210px;   
  }
}