.contacts {
  max-width: 1920px;
  flex-shrink: 0;
  width: 100%;
  margin-top: 100px;
  padding: 1.5rem 3rem;

  scroll-margin-top: 100px;
}

.container {
  padding: 1.5rem 3rem;
  border-radius: 1rem;

  background-color: #f2f2f2;
  color: #292929;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.title {
  font-family: "Catallina", sans-serif;
  text-transform: uppercase;
  font-size: clamp(20px, 4vw, 26px);
}

.text {
  display: flex;
  flex-direction: column;
  gap: 10px;

  p {
    line-height: 1.5;
  }
}

.underline {
  text-decoration: underline;
}

.button {
  font-family: 'Geist Mono', sans-serif;
  font-size: 18px;
  padding: 0.5rem 1rem;
  background-color: #1a4a5a;
  color: #f2f2f2;
  border-radius: 0.5rem;
}

@media (max-width: 900px) {
  .contacts {
    margin-top: 30px;
    padding: 20px;    
  }

  .container {
    padding: 20px;
    flex-direction: column;
    gap: 2rem;
  }

  .title {
    text-align: center;
    align-self: center;
  }

  .button {
    font-size: 16px;
  }

  .iframe {
    width: 100%;
    height: 250px;
  }
}