.banner {
  flex-shrink: 0;
  position: relative;
  padding: 1.5rem 3rem;
  max-width: 1920px;
}

.image {
  width: 100%;
  height: auto;
  min-height: 380px;
  max-height: calc(100vh - 140px);
  filter: brightness(0.5) saturate(1.2) contrast(1.2);
  border-radius: 0.5rem;
}

.container {
  position: absolute;
  top: 50%;
  left: 6rem;
  transform: translateY(-50%);
  color: #f2f2f2;
  max-width: 50%;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

.title {
  font-family: 'Catallina', sans-serif;
  text-transform: uppercase;
  font-size: clamp(22px, 5vw, 2rem);
  line-height: 1.5;

  span {
    font-family: 'Catallina', sans-serif;
    text-transform: lowercase;
  }
}


.text {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.appointment {
  font-family: 'Geist Mono', sans-serif;
  border: none;
  padding: 0.5rem 1rem;
  background-color: #f2f2f2;
  color: #292929;
  font-size: clamp(12px, 3vw, 18px);
}

.more {
  cursor: pointer;
  font-family: 'Geist Mono', sans-serif;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 1px solid #f2f2f2;
  color: #f2f2f2;
  font-size: clamp(12px, 3vw, 18px);
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sale {
  opacity: 0.7;
  line-height: 1.4;
}

@media screen and (max-width: 900px) {
  .banner {
    padding: 20px;
  }

  .image {
    object-fit: cover;
  }

  .container {
    left: 40px;
    max-width: 100%;
    right: 40px;
    gap: 30px;
  }

  .sale {
    font-size: clamp(11px, 3vw, 16px);
  }
}